@model List<Mimsv2.Models.LoginModel>
@{
    ViewData["Title"] = "All Users";
}

@{
    var accessLevel = Context.Session.GetString("accessLevel");
}

<h3>Users Access: @accessLevel</h3>



@foreach (var group in Model.GroupBy(u => new { u.hospitalid, u.hospitalname }))
{
    <h3 class="mt-4">@group.Key.hospitalname (ID: @group.Key.hospitalid)</h3>

    <table class="form_table mb-5">
        <thead>

            <tr>
                <th style="width:90px">Login Name</th>
                <th style="width:120px">Full Name</th>
                <th style="width:100px">Email</th>
                <th>Department</th>
                <th>Title</th>
                @if (accessLevel == "admin"){
                <th>Access Level</th>
				}
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in group)
            {
                <tr>
                    <td>@user.loginname</td>
                    <td>@user.username @user.surname</td>
                    <td>@user.email</td>
                    <td>@user.department</td>
                    <td>@user.titles</td>
                    @if (accessLevel == "admin"){
					<td>@user.rm</td>
                    }
                    <td>
                        <a asp-action="EditUser" asp-route-id="@user.id" class="btn btn-sm btn-primary">Edit</a>
                    </td>
                 <td>
                      
                        <form asp-action="DeleteUser" method="post" onsubmit="return confirm('Are you sure you want to delete this User?');">
                            <input type="hidden" name="id" value="@user.id" />
                            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                        </form>
                    
                    </td> 
                </tr>
            }
        </tbody>
    </table>
}
